<%= form_with(model: order, 
              html: {
                  novalidate: true
              },
              data: {
                  controller: "order",
                  target: "form.form",
                  action: "ajax:beforeSend->submitForm"
              }) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
      <%= form.label :name, 'Name' %>
      <%= form.text_field :name, size: 40, data: {action: "input->order#submitForm"} %>
  </div>

  <div class="field">
      <%= form.label :address, 'address' %>
      <%= form.text_area :address, rows: 3, cols: 40, data: {action: "input->order#submitForm"} %>
  </div>

  <div class="field">
      <%= form.label :email, 'Email' %>
      <%= form.text_field :email, size: 40, data: {action: "input->order#submitForm"} %>
  </div>

  <div class="field">
      <%= form.label :pay_type %>
      <%= form.select :pay_type, 
                      Order.pay_types.keys, 
                      prompt: 'Select a payment method', 
                      data: {action: "order#submitForm"} %>
  </div>

  <div class="actions">
    <%= form.submit value: 'Place order', data: {action: "order#submitForm"} %>
  </div>
<% end %>
